.breadcrumbs {
  display: block;
  position: relative;
  z-index: 4;

  width: 100%;
  max-width: 100%;

  color: $color-black;
  background-color: darken($color-white, 6.5);

  .breadcrumbs__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 3rem;
    width: 100%;
    overflow: hidden;

    @include block-size;

    @media screen and (max-width: 1023px) {
      overflow-x: scroll;
    }
  }

  .breadcrumbs__item {
    display: inline-block;
    align-items: center;
    flex: 0 0 auto;
    cursor: default;

    margin-right: 1.25rem;

    font-family: $font-title;
    font-size: 0.9375rem;
    letter-spacing: 0.05rem;

    text-decoration: none;
    text-transform: uppercase;

    @at-root #{selector-unify(&, a)} {
      cursor: pointer;
      color: $color-links;

      &:hover {
        color: $color-hover;
      }
    }

    &::after {
      content: '';
      display: inline-block;

      width: 0.625rem;
      height: 0.625rem;
      margin-left: 1.25rem;

      background-image: sassvg('right', $color-black);
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (max-width: 767px) {
        margin-left: 1rem;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      flex: 1 1 auto;

      overflow: hidden;
      margin-right: 0;

      text-overflow: ellipsis;
      white-space: nowrap;

      &::after {
        display: none;
      }

      @media screen and (max-width: 1023px) {
        flex: 0 0 auto;
        padding-right: 0.75rem;
      }
    }

    @media screen and (max-width: 767px) {
      margin: 0 0.5rem;
      font-size: 0.8125rem;
    }
  }
}
