.post {
  display: block;
  position: relative;

  flex: 1;

  .post-title {
    display: block;
    cursor: default;

    width: 100%;

    @include header-title;
  }

  .post-meta {
    display: block;

    width: 100%;
    margin: 1rem 0;
    font-size: 1rem;

    .post-meta-date {
      display: block;
      cursor: default;

      font-family: $font-title;
      color: darken($color-white, 40);
    }

    @media screen and (max-width: 767px) {
      margin: 0.75rem 0;
      font-size: 0.9375rem;
    }
  }

  .post-content {
    display: block;
    margin-top: 1rem;
  }
}
