.post {
  display: block;
  position: relative;

  flex: 1;

  .post-title {
    display: block;
    cursor: default;

    width: 100%;

    font-weight: 300;
    font-size: 2rem;
    line-height: 1.25;

    @media screen and (max-width: 1023px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.5rem;
    }
  }

  .post__meta {
    display: block;

    width: 100%;
    margin-top: 1rem;

    .post__meta-date {
      display: block;

      margin-bottom: 1rem;

      font-family: $font-title;
      color: darken($color-white, 40);

      cursor: default;
    }
  }

  .post__item {
    display: block;

    margin-top: 1rem;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}
