.widget {
  display: block;

  margin-bottom: 1rem;
  overflow: hidden;

  border-radius: 3px;

  a {
    display: block;
  }

  img {
    display: block;

    width: 100%;
    height: auto;
  }

  .widget-title {
    display: none;
  }

  &:last-child {
    position: sticky;
    top: 1rem;

    margin-bottom: 0;
  }
}
