.button {
  display: block;

  height: 2.5rem;
  padding: 0 2rem;

  font-family: $font-title;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;

  color: $color-background;
  background-color: $color-links;

  text-decoration: none;
  border-radius: 3px;

  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-background;
    background-color: $color-hover;
  }
}
