@font-face {
  font-family: 'e-ul';
  src:  url('fonts/e-ul.eot?ib81xz');
  src:  url('fonts/e-ul.eot?ib81xz#iefix') format('embedded-opentype'),
    url('fonts/e-ul.ttf?ib81xz') format('truetype'),
    url('fonts/e-ul.woff?ib81xz') format('woff'),
    url('fonts/e-ul.svg?ib81xz#e-ul') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'e-ul' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--search:before {
  content: "\e911";
}
.icon--top:before {
  content: "\e902";
}
.icon--down:before {
  content: "\e904";
}
.icon--left:before {
  content: "\e905";
}
.icon--right:before {
  content: "\e906";
}
.icon--user:before {
  content: "\e925";
}
.icon--twitter:before {
  content: "\e917";
}
.icon--instagram:before {
  content: "\e900";
}
.icon--facebook:before {
  content: "\e901";
}
.icon--vk:before {
  content: "\e903";
}
