.input {
  display: block;

  height: 2.5rem;
  padding: 0 .75rem;

  font-family: $font-regular;
  font-weight: 400;
  font-size: .875rem;
  line-height: 2.5rem;

  color: $color-foreground;
  background-color: $color-background;

  border-radius: 3px;
  outline: none;
}
