.logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;

  .logo__image {
    display: block;
    position: relative;

    width: 4rem;
    height: 4rem;
    margin-right: .625rem;

    text-indent: -9999rem;

    background-position: center center;
    background-repeat: no-repeat;

    &.logo__image--ulgov {
      background-image: url('images/logo-ulgov.png');
      background-size: 100% 95%;
    }

    &.logo__image--eul {
      background-image: url('images/logo-eul.png');
      background-size: 80%;
    }

    @media screen and (max-width: 767px) {
      width: 2.5rem;
      height: 2.5rem;

      margin: 0 .5rem .5rem;
    }
  }

  .logo__title {
    display: block;

    font-family: $font-title;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.125;

    color: $color-foreground;

    text-transform: uppercase;
    text-decoration: none;

    @media screen and (max-width: 767px) {
      width: 100%;

      font-size: .8125rem;
      font-weight: 400;

      text-align: center;
    }
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
