.archive {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;

  .archive__detail {
    margin: 1.5rem 0 1rem;
  }

  .archive__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: calc(100% + 3rem);
    margin: 1rem -1rem;

    @media screen and (max-width: 767px) {
      width: calc(100% + 2rem);
      margin: 0 -1rem;
    }
  }

  .archive__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    width: calc(50% - 2rem);
    margin: .5rem 0;
    padding: 1rem;

    border-radius: 3px;

    .archive__item-logo {
      display: block;
      flex-shrink: 0;

      width: 3rem;
      height: 3rem;
      margin-top: .25rem;
      margin-right: 1.25rem;
      padding: .5rem;
    }

    .archive__item-tagline {
      font-family: $font-title;
      font-weight: 700;
      font-size: 1.25rem;
      color: $color-foreground;
      line-height: 1.25;
    }

    .archive__item-text {
      margin: .25rem 0;

      font-family: $font-title;
      color: $color-disabled;
    }

    .archive__item-link {
      font-family: $font-title;
      font-size: .875rem;
      color: $color-links;
    }

    &:hover {
      background: $color-dimmer;
      box-shadow: 0 0 1px $color-links;
    }

    @media screen and (max-width: 1023px) {
      width: 48%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 1rem;
    }
  }
}
