.archive {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  .archive__detail {
    margin: 1.5rem 0;
  }

  .archive__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: calc(100% + 3rem);
    margin: 0 -1.5rem;

    @media screen and (max-width: 767px) {
      width: calc(100% + 2rem);
      margin: 0 -1rem;
    }
  }

  .archive__item {
    display: block;

    width: 48%;
    min-height: 9.25rem;
    margin: 1% 0;
    padding: 1.5rem;

    border-radius: 3px;

    .archive__item-logo {
      display: block;

      margin-top: .25rem;
      padding: .5rem;

      background-color: $color-dimmer;
      border: solid 1px $color-light;
      border-radius: 3px;
    }

    .archive__item-tagline {
      font-family: $font-title;
      font-weight: 700;
      font-size: 1.25rem;
      color: $color-foreground;
      line-height: 1.25;
    }

    .archive__item-text {
      margin: .25rem 0;

      font-family: $font-title;
      color: $color-disabled;
    }

    .archive__item-link {
      font-family: $font-title;
      font-size: .875rem;
      color: $color-links;
    }

    &:hover {
      background: $color-dimmer;
      box-shadow: 0 0 1px $color-links;
    }

    @media screen and (max-width: 1023px) {
      width: 48%;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 1rem;
    }
  }
}
