.breadcrumbs {
  display: block;
  position: relative;
  z-index: 4;

  width: 100%;
  max-width: 100%;

  color: $color-background;
  background-color: $color-ultralight;

  .breadcrumbs__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 3rem;
    width: 100%;
  }

  .breadcrumbs__link {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 1.25rem;

    font-family: $font-title;
    font-size: .9375rem;
    letter-spacing: .75px;

    color: $color-links;

    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color-hover;
    }

    @media screen and (max-width: 767px) {
      font-size: .8125rem;
      white-space: nowrap;
    }
  }

  .breadcrumbs__item {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: .625rem;
    color: $color-foreground;

    &:nth-child(n + 2) {
      @extend .icon;
      @extend .icon--right;
    }

    &:first-child {
      .breadcrumbs__link {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width: 767px) {
    overflow-x: scroll;
  }
}
