.breadcrumbs {
  display: block;
  position: relative;
  z-index: 4;

  width: 100%;
  max-width: 100%;

  color: $color-foreground;
  background-color: $color-ultralight;

  .breadcrumbs__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 3rem;
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: 1023px) {
      overflow-x: scroll;
    }
  }

  .breadcrumbs__item {
    display: inline-block;
    flex: 0 0 auto;
    cursor: default;

    margin: 0 1.25rem;

    font-family: $font-title;
    font-size: .9375rem;
    letter-spacing: .75px;

    text-decoration: none;
    text-transform: uppercase;

    &.breadcrumbs__item--link {
      cursor: pointer;

      color: $color-links;

      &:hover {
        color: $color-hover;
      }
    }

    &.breadcrumbs__item--text {
      flex: 1 1 auto;
      text-overflow: ellipsis;

      white-space: nowrap;
      overflow: hidden;

      @media screen and (max-width: 1023px) {
        flex: 0 0 auto;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      padding-right: 1.25rem;

      @media screen and (max-width: 767px) {
        padding-right: .75rem;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: .8125rem;

      margin: 0 .75rem;
    }
  }

  .icon {
    color: $color-foreground;
    font-size: .625rem;
  }
}
