.footer {
  display: block;
  position: relative;

  margin-top: auto;

  background-color: $color-foreground;

  .footer__copy {
		display: block;

    .footer__copy-inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;


			padding-top: 1rem;
			padding-bottom: 1rem;

      border-top: solid 1px $color-border;
    }

    .footer__copy-info {
			display: block;

			font-size: .8125rem;
			font-weight: 300;
			letter-spacing: .5px;
			color: $color-border;
    }
  }

  .footer__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 1rem;
    padding-bottom: 3rem;

    .menu-item {
      display: flex;
      flex-flow: column wrap;
      width: 30%;

      @media screen and (max-width: 1023px) {
        width: 28%;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    .footer__menu-link {
      font-family: $font-title;
      font-size: .9375rem;
      font-weight: 400;
      letter-spacing: .75px;

      margin: 2rem 0 .75rem;
      color: $color-disabled;
      text-transform: uppercase;

      &:hover {
        color: $color-disabled;
      }
    }

    .sub-menu {
      .menu-item {
        display: block;

        width: 100%;
      }

      .footer__menu-link {
        display: inline-block;
        margin: .25rem 0;

        font-family: $font-regular;
        letter-spacing: 0;
        font-size: .9375rem;
        font-weight: 400;

        color: $color-light;
        text-decoration: none;
        text-transform: none;

        &:hover {
          color: $color-disabled;
        }
      }
    }
  }
}
