.grid {
  display: block;

  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  width: 100%;

  .grid__wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    padding-top: 1.5rem;

    border-top: solid 1px $color-border;
  }

  .grid__heading {
    width: 100%;
  }

  .grid__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    width: calc(100% + 3rem);
    margin: 1rem -1.5rem;

    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);

      width: calc(100% + 2rem);
      margin: 1rem -1rem;
    }

    @media screen and (max-width: 479px) {
      grid-gap: .5rem;
    }
  }

  .grid__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    min-height: 9.25rem;
    padding: 1.5rem;

    border-radius: 3px;

    .grid__item-logo {
      display: flex;
      flex-basis: 3.5rem;
      flex-shrink: 0;

      width: 3.5rem;
      height: 3.5rem;
      margin-top: .25rem;
      padding: .5rem;

      font-size: .75rem;
      font-weight: 300;

      background-color: $color-dimmer;
      border: solid 1px $color-light;
      border-radius: 3px;
    }

    .grid__item-image {
      display: block;

      width: 100%;;
      height: auto;
    }

    .grid__item-detail {
      width: 100%;
      margin-left: 1.5rem;
    }

    .grid__item-tagline {
      font-family: $font-title;
      font-weight: 700;
      font-size: 1.25rem;
      color: $color-foreground;
      line-height: 1.25;
    }

    .grid__item-text {
      margin: .25rem 0;

      font-family: $font-title;
      color: $color-disabled;
    }

    .grid__item-link {
      font-family: $font-title;
      font-size: .875rem;
      color: $color-links;
    }

    &:hover {
      background: $color-dimmer;
      box-shadow: 0 0 1px $color-links;
    }

    @media screen and (max-width: 1023px) {
      min-height: 0;
    }

    @media screen and (max-width: 767px) {
      padding: 1rem;

      border-radius: 0;
    }
  }
}
