.header {
  display: block;
  position: relative;
  z-index: 5;

  background-color: $color-background;

  @media screen and (max-width: 1023px) {
    &.header--underline {
      border-bottom: solid 1px $color-light;
    }
  }
}
