.menu {
  display: block;
  position: relative;
  z-index: 5;

  width: 100%;

  color: $color-background;
  background-color: $color-foreground;

  .menu__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 3rem;
    width: 100%;
  }

  .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 .75rem;

    font-family: $font-title;
    font-size: .9375rem;
    letter-spacing: .75px;

    color: $color-background;

    text-decoration: none;
    text-transform: uppercase;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: $color-links;
    }
  }

  @media screen and (max-width: 1023px) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;

    transition: right .3s;

    .menu__list {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      height: 100%;
      margin-top: 5rem;
    }

    .menu__item {
      margin: .5rem 0;
    }

    &.menu--expand {
      right: 0;
    }
  }
}
