.menu {
  display: block;
  position: relative;
  z-index: 5;

  width: 100%;

  color: $color-background;
  background-color: $color-foreground;

  .menu__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
    width: 100%;

    @media screen and (max-width: 1023px) {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      height: 100%;
    }
  }

  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 .75rem;

    font-family: $font-title;
    font-size: .9375rem;
    letter-spacing: .75px;

    color: $color-background;

    text-decoration: none;
    text-transform: uppercase;

    &.menu__link--current {
      color: $color-border;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $color-border;
    }

    @media screen and (max-width: 1279px) {
      margin: auto;
    }

    @media screen and (max-width: 1023px) {
      margin: 1rem 0;
    }
  }

  @media screen and (max-width: 1023px) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    z-index: 10;

    height: auto;
    padding: 4rem 1rem 3rem;
    overflow-y: auto;
    overflow-x: hidden;


    transition: right .3s;

    &.menu--expand {
      right: 0;
    }
  }
}
