.post {
  width: calc(100% - 22.5rem);
  padding: 2rem 4rem;

  background-color: $color-background;
  box-shadow: 0 0 2px $color-border;
  border-radius: 3px;

  .post__heading {
    width: 100%;
  }

  .post__meta {
    display: block;

    width: 100%;
    margin-top: 1rem;

    .post__meta-date {
      display: block;

      margin-bottom: 1rem;

      font-family: $font-title;
      color: $color-disabled;

      cursor: default;
    }
  }

  .post__item {
    display: block;
  }

  &.post--flex {
    width: 100%;
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}
