.promo {
  display: block;

  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  width: 100%;

  .promo__wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    padding-top: 1.5rem;

    border-top: solid 1px $color-border;
  }

  .promo__heading {
    width: 100%;
  }

  .promo__detail {
    margin: 1.5rem 0;

    @media screen and (max-width: 1023px) {
      margin: .75rem 0;
    }
  }

  .promo__button {
    display: block;

    margin-top: 1rem;
  }

  .promo__banner {
    display: block;

    margin-top: 3rem;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  @media screen and (max-width: 1023px) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
