.search {
  display: flex;
  position: relative;
  width: 100%;

  .search__input {
    position: relative;

    width: 100%;
    padding-right: 2.5rem;

    border: solid 1px $color-light;
    transition: border .3s;

    &:focus {
      border-color: $color-disabled;

      @media screen and (max-width: 1023px) {
        border-color: transparent;
      }
    }

    @media screen and (max-width: 1023px) {
      border-color: transparent;
    }
  }

  .search__button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: calc(50% - .75rem);
    right: .5rem;

    outline: none;
    cursor: pointer;

    height: 1.5rem;
    width: 1.5rem;

    color: $color-disabled;

    .icon--search {
      display: block;

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    .icon--right {
      display: none;

      @media screen and (max-width: 1023px) {
        display: block;
      }
    }
  }
}
