.sidebar {
  display: flex;
  flex-flow: column;

  width: 18.75rem;
  height: auto;
  padding-bottom: 1rem;

  @media screen and (max-width: 1023px) {
    display: none;

    flex-flow: row wrap;

    width: 100%;
    margin-top: 2rem;
  }

  @media screen and (max-width: 767px) {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
}
