.topline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 100%;
  height: 7rem;

  .topline__logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 100%;

    background-color: $color-background;

    @media screen and (max-width: 1023px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
    }
  }

  .topline__search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 20rem;

    @media screen and (max-width: 1023px) {
      position: absolute;
      top: 1rem;
      left: 0;
      z-index: 4;

      width: 100%;
      height: 5rem;

      padding-left: 2.5rem;
      padding-right: 2.5rem;

      background-color: $color-foreground;
      transition: top .3s;

      &.topline__search--expand {
        top: 6rem;
      }
    }

    @media screen and (max-width: 767px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .topline__button {
    display: none;
    position: relative;
    z-index: 6;

    outline: none;
    cursor: pointer;

    &.topline__button--menu {
      height: 1.125rem;
      width: 1.375rem;
    }

    &.topline__button--search {
      height: 1.5rem;
      width: 1.5rem;
      font-size: 1.25rem;
      color: $color-foreground;
    }

    @media screen and (max-width: 1023px) {
      display: block;
    }
  }

  @media screen and (max-width: 1023px) {
    height: 6rem;
  }
}
