.topline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;

  width: 100%;
  height: 7rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .topline__banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  .topline__logo {
    display: block;
    position: relative;

    width: 4rem;
    height: 4rem;
    margin-right: .625rem;

    text-indent: -9999rem;

    background-position: center center;
    background-repeat: no-repeat;

    &.topline__logo--ulgov {
      background-image: url('images/logo/logo-ulgov.png');
      background-size: 100% 95%;
    }

    &.topline__logo--eul {
      background-image: url('images/logo/logo-eul.png');
      background-size: 80%;
    }

    @media screen and (max-width: 767px) {
      width: 2.5rem;
      height: 2.5rem;

      margin: 0 .5rem .5rem;
    }
  }

  .topline__title {
    display: block;

    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.125;
    color: $color-foreground;

    text-transform: uppercase;
    text-decoration: none;

    @media screen and (max-width: 767px) {
      width: 100%;

      font-size: .8125rem;
      font-weight: 400;

      text-align: center;
    }
  }

  .topline__toggle {
    display: none;
    position: relative;
    z-index: 6;

    width: 1.375rem;
    height: 1.125rem;

    outline: none;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      display: block;
    }
  }

  .topline__search {
    display: none;
    position: relative;
    z-index: 4;

    font-size: 1.25rem;
    line-height: 1;
    color: $color-foreground;

    outline: none;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      display: block;
    }
  }

  @media screen and (max-width: 1023px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 767px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
