$color-foreground: #262626;
$color-background: #fff;
$color-links: #4a90e2;
$color-hover: #3a80d2;
$color-dimmer: #f4f7fb;
$color-disabled: #999;
$color-border: #bbb;
$color-light: #ddd;

$font-title: "Roboto Condensed", sans-serif;
$font-regular: "Roboto", sans-serif;


body {
  display: block;
  position: relative;

  width: 100%;

  font: 400 16px/1.4 $font-regular;
  color: $color-foreground;
  background-color: $color-background;
}

a {
  color: $color-links;
  text-decoration: none;
  outline: none;
  transition: .2s;

  &:hover {
    color: $color-hover;
  }
}

button {
  background-color: transparent;
}

::selection {
  background-color: $color-links;
  color: $color-background;
}

::placeholder {
  color: silver;
}
